body {
  font-family: sans-serif;
}
.app-container {
  width: 800px;
  height: 600px;
  align-content: center;
  margin-top: 40px;
  margin-left: 40px;
}

.container {  
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(83, 82, 82);
  color: rgb(26, 26, 28);
}
body {
  width: 1520px;
  align-content: center;
}
.box {
  background-color: aquamarine;
}
.row {
  color: gray;
}
.search-holder {
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(221, 219, 219);
  height: 40px;
  text-align: 10px;
  padding: 3px 7px;
  margin-bottom: 10px;
}

.search-butt {
border-radius: 5px;
border-color: none;
border: 1px solid;
border-color: rgb(221, 219, 219);
height: 40px;
width: 80px;
font-size: small;
}

h3 {
  font-size: 25px;
  margin-top: 0;
  padding-top: 0;
}
.degree {
  margin: 0px;
  padding: 0px;
}
.Precipitation {
  font-size: 17px;
  margin-bottom: 40px;
  position: relative;
  right: -15px;
}

.mein-number{
  font-size: 65px;
  margin: auto;
  padding: auto;
  position: relative;
  right: 15px;
  bottom: -10px;
}
.fa-sun-o {
  margin: 10px;
  color: rgb(246, 242, 131);
  size: 70px;
  align-content: center;
}

.degreeSmal{
  position: relative; 
  top: -20px;
  right: 15px;
  font-size: 20px;
}

.coltwo {
  color: gray;
  margin-top: 200px;
}
.form-search {
  box-sizing: 50px;
  width: 350px;
}

.degreebottom {
  font-size: 25px;
}

.fa-cloud {
  margin: 10px;
  color: rgb(147, 195, 241);
  size: 70px;
  align-content: center;
}

.fa-sun-cloud{
  margin: 10px;
  color: rgb(244, 238, 156);
  size: 70px;
  align-content: center;
}
h4 {
  padding: 0px;
  margin: 3px;
  align-content: center;
  text-align: center;
  font-size: 20px;
}
.degreebottom {
  align-content: center;
}
.characteristic {
  margin: 20px 20px;
  align-content: center;
}
hr{
  margin-top: 30px;
  margin-bottom: 20px;
  padding: auto;
  height: 7px;
  width: 100%;
  text-align: center;
  size: 400px;
}
.days{
  margin-bottom: 20px;
}

.absolute{
  color: gray;

}


.celsius-link{
cursor: default;
color: gray;
text-decoration: none;
}

.characteristic .activC:hover {
  text-decoration: none;
}

a{
  text-decoration: none;
  cursor: default;
    }
.link{
  color: gray;
}

.description::first-letter{
text-transform: capitalize;}